body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f4f4f4;
    text-align: center;
}

header {
    background: #28a745;
    color:white;
    padding: 15px 0; /* espaçamento interno 15px acima e abaixo, 0px esquerda e direita*/
    font-size: 24px;
    border: 1.5px solid black
}
nav {
    background-color: #007bff;
    padding: 10px;
    display: flex; /* Flex Boxing */
    /* alinhamento na horizontal - espaço entre os link */
    justify-content: center;
    /* alinhamento na vertical */
    align-items: center;
}
#links-menu {
    display: flex;
    gap: 25px;
}
/* configura o estilo das ancoras que estão dentro do nav */
nav a {
    color:white; /* texto branco */
    text-decoration: none; /* não faz decoração no link */
    padding: 10px 15px; /* 10px é acima e abaixo 15px é esq e dir */
    font-size: 18px; /* 19 px tamanho da fonte */
    background: #005663; /* cor do fundo */
    border-radius: 5px; /* borda com canto arredondado */
}
nav a:hover {
    background: #003d82
}

img {
    width: 120px;
    height: auto;
    margin-right: 5px; /* espaçamento interno de 20px */
    border-radius: 10px;
}
    .container {
        width: 80%;
        margin: 20px auto; /* 20px em cima e em braixo e automático esquerda e direita */
        background: white;
        /*espaçamen to interno é nos quatro lados */
        padding: 20px;
        border-radius: 10px;
        text-align: justify;

    }
    h2 {
        text-align: center;
    }
    .trote{
        margin-left: 50px
    }
        td {
            padding: 10px
        }
    
